<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Navegación</h4>
            <ul>
                <li><a href="#">Explorar</a></li>
                <li><a href="#">Simulcasts</a></li>
                <li><a href="#">Noticias</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Conecta con Nosotros</h4>
            <ul>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">X</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">TikTok</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>KaijuTV</h4>
            <ul>
                <li><a href="#">Prueba Gratuita</a></li>
                <li><a href="#">Centro de ayuda</a></li>
                <li><a href="#">Términos de Uso</a></li>
                <li><a href="#">Contacto de prensa</a></li>
                <li><a href="#">Empleo</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Cuenta</h4>
            <ul>
                <li><a href="#">Crear cuenta</a></li>
                <li><a href="#">Acceder</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="footer-copy">© KaijuTV</p>
</footer>