footer {
    background: linear-gradient(0deg, rgba(255,0,110,1) 0%, rgba(0,0,0,1) 100%);
    padding: 1.5rem 15rem;
    padding-top: 3rem;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 1rem 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer-section ul li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-copy {
    margin-top: 1rem;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    footer {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 576px) {
    footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}