<section>
  <div class="title-cont">
    <h1>Animes Populares</h1>
  </div>
  <div class="anime-cont">
    <ul>
      <li *ngFor="let anime of popularAnimes">
        <a [routerLink]="['/anime', anime.mal_id]">
          <img [src]="anime.images.jpg.image_url" alt="">
          {{ anime.title }}
          {{ anime.episodes }}
          {{ getGenres(anime) }}
          {{ anime.rating }}
          {{ anime.score }}
          {{ anime.status }}
        </a>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="title-cont">
    <h1>Animes de esta Temporada</h1>
  </div>
  <div class="anime-cont">
    <ul>
      <li *ngFor="let anime of seasonsNow">
        <a [routerLink]="['/anime', anime.mal_id]">
          <img [src]="anime.images.jpg.image_url" alt="">
          {{ anime.title }}
          {{ anime.episodes }}
          {{ getGenres(anime) }}
          {{ anime.rating }}
          {{ anime.score }}
          {{ anime.status }}
        </a>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="title-cont">
    <h1>Animes de la Próxima Temporada</h1>
  </div>
  <div class="anime-cont">
    <ul>
      <li *ngFor="let anime of seasonsUpcoming">
        <a [routerLink]="['/anime', anime.mal_id]">
          <img [src]="anime.images.jpg.image_url" alt="">
          {{ anime.title }}
          {{ anime.episodes }}
          {{ getGenres(anime) }}
          {{ anime.rating }}
          {{ anime.score }}
          {{ anime.status }}
        </a>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="title-cont">
    <h1>Animes de {{ seasonName }} {{ year }}</h1>
  </div>
  <div class="anime-cont">
    <ul>
      <li *ngFor="let anime of currentSeason">
        <a [routerLink]="['/anime', anime.mal_id]">
          <img [src]="anime.images.jpg.image_url" alt="">
          {{ anime.title }}
          {{ anime.episodes }}
          {{ getGenres(anime) }}
          {{ anime.rating }}
          {{ anime.score }}
          {{ anime.status }}
        </a>
      </li>
    </ul>
  </div>
</section>