.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 100rem;
    padding: 1rem 3rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    margin: auto;
}

a {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    height: 200px;
    width: 30%;
    min-width: 330px;
}

.episode-card_cover {
    height: 200px;
    width: 140px;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
}

.episode-card_cover img {
    height: 200px;
    width: 140px;
}

.episode-card_body {
    display: flex;
    min-width: 180px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.episode-card_body p {
    margin: .5rem 0;
    max-width: 180px;
    font-size: 16px;
}

.episode-card_body span, 
.episode-card_body small {
    font-size: 12px;
}

.episode-score_value {
    display: flex;
    align-items: center;
    gap: 4px;
}

.episode-filler {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.episode-button {
    height: 100%;
}

.show-more-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ff006e;
    background-color: transparent;
    border: .125rem solid #ff006e;
    cursor: pointer;
    transition: all 0.3s ease;
}

.show-more-btn:hover {
    color: #ff4d9a;
    border: .125rem solid #ff4d9a;
}

.show-more-btn > div {
    display: flex;
    flex-direction: column;
}